.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2563eb #e0e7ff;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #e0e7ff;
}
